# Archivos y carpetas comunes a ignorar
*.log
*.tmp
*.swp

# Carpetas de dependencias y build
node_modules/
dist/
build/
target/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env